<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyun.dao.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.cyun.model.SysMenu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR"/>
        <result column="menu_ico" property="menuIco" jdbcType="VARCHAR"/>
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
    </resultMap>


    <select id="countMenuByNameAndPId" resultType="java.lang.String" parameterType="String">
    select id
    from sys_menu
    where parent_id = #{pid}
      and menu_name = #{menuName}
      and status != 2
  </select>

    <select id="listMenuByParent" resultType="com.cyun.dto.MenuDTO">
        select id,menu_name menuName
        from sys_menu
        where parent_id = null or parent_id = '0' and status != 2
    </select>

    <select id="limitMenu" resultType="com.cyun.dto.MenuDTO" parameterType="com.cyun.param.PageParam">
        select
           id,
           menu_name menuName,
           menu_code menuCode,
           menu_ico menuIco,
           menu_url menuUrl,
           create_date createDate,
           user_id userId,
           update_date updateDate,
           update_user_id updateUserId,
           parent_id parentId,
           status,
           type,
           sort,
           (select menu_name from sys_menu where id = m.parent_id) parentName,
           if(menu_code in ('sys-setting','sys-menu','sys-role','sys-user','sys-cyun'),1,0) as optStatus
        from sys_menu m
        where status != 2
        order by opt_status desc, update_date desc
        <if test="offset != null">
            limit ${offset}, ${limit}
        </if>
        <if test="offset == null">
            limit ${limit}
        </if>
    </select>

    <select id="findMenuById" resultType="com.cyun.dto.MenuDTO" parameterType="String">
        select
        <include refid="com.cyun.dao.SysRoleMenuMapper.LinkMenu" />
        from sys_menu m
        where id = #{menuId} and status != 2
    </select>

    <select id="countAllMenu" resultType="java.lang.Integer">
        select count(*)
        from sys_menu
        where status != 2
    </select>

    <select id="listTreeMenu" resultType="com.cyun.dto.MenuDTO" parameterType="String">
        select
        <include refid="com.cyun.dao.SysRoleMenuMapper.LinkMenu" />
        from sys_menu m
        <if test="roleId != null and roleId != ''">
            inner join sys_role_menu rm on m.id = rm.menu_id where rm.role_id = #{roleId} and m.status != 2
        </if>
        <if test="roleId == null or roleId == ''">
            where m.status != 2
        </if>
    </select>

    <select id="listTreeMenuListForUser" resultType="com.cyun.dto.MenuDTO">
        select
        <include refid="com.cyun.dao.SysRoleMenuMapper.LinkMenu" />
        from sys_menu m where m.id not in (select id from sys_menu where parent_id = '84959945e0ce44f399d56d59a0d35240') and m.menu_code != 'sys-setting'
    </select>
</mapper>